{% extends "base.html" %}

{% load bootstrap5 %}

{% block context %}

    <div class="row"><!--Start of row-->
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><!--Start of col-->
            <div class="display_table">
                <form method='POST' action=''>
                    {% csrf_token %}
                    <h1 class="p-2">{{ title }}</h1>
                    {{ form.media }}
                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                <input class="btn btn-primary" type="submit" value='Save'/>
                </form>
            </div>
        </div><!--End of col-->
        <div class="col-sm-4"></div>
    </div><!--End of row-->

{% endblock context %}
