{% extends "base.html" %}

{% load bootstrap5 %}

{% block context %}

<form method='POST' action=''>
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <h1 class="p-2">{{ title }}</h1>
            {{ form.media }}
            {% for field in form %}
            <div class="col-12">
                {% bootstrap_field field %}
            </div>
            {% endfor %}
            <input class="btn btn-info" type="submit" value='Save' class="btn-outline-info"/>
        </div> 
    </div>   
</form>

{% endblock context %}