{% extends "base.html" %}
{%  load static %}

{% block context %}
    <div class="col-12 p-4 text-center">
        <h2>STOCK MANAGEMENT INFORMATION SYSTEM</h2>
        <img src="{% static 'img/home.png' %}" style="width: 40%;" alt="smis">
        <p class="p-2">Welcome to our advanced Stock Management System, a comprehensive tool engineered to simplify your inventory management and enhance your business operations. Our intuitive platform enables you to monitor stock levels in real-time, making it easier to track and maintain your inventory. With our system, you can efficiently manage stock levels, reduce overstocking, and avoid stockouts through manual adjustments. Experience a new level of inventory control – join us today and start improving your business's stock management processes.</p>
    </div>
{% endblock context %}
