{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}
    <div class="header mb-4">
        {{header}}
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-sm-2">
            <form method='POST' action='' class="">
                {% csrf_token %}

                {% for field in form %}
                {% bootstrap_field field %}
                {% endfor %}

                <input class="btn btn-info mybutton" type="submit" value='Search | Export'/>
            </form><br>
            <a href="/list_items"><div class="btn btn-primary mybutton"><i class="fas fa-list"></i> Stock</div></a><br>
        </div>

        <div class="col-sm-10">
            <div class="display_table">
                <table class='table'>
                <thead>
                    <tr>
                    <th>COUNT</th>
                    <th>CATEGORY</th>
                    <th>ITEM NAME</th>
                    <th>QUANTITY IN STORE</th>
                    <th>ISSUED QUANTITY</th>
                    <th>ISSUED BY</th>
                    <th>RECEIVED QUANTITY</th>
                    <th>RECEIVED BY</th>
                    <th>LAST UPDATED</th>
                    </tr>
                </thead>

                {% for instance in queryset %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.category}}</td>
                        <td>{{instance.item_name}}</td>
                        <td>{{instance.quantity}}</td>
                        <td>{{instance.issue_quantity}}</td>
                        <td>{{ instance.issue_by }}</td>
                        <td>{{instance.receive_quantity}}</td>
                        <td>{{ instance.receive_by }}</td>
                        <td>{{instance.last_updated}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock content %}