{% extends "base.html" %}

{% load bootstrap5 %}

{% block context %}
    <div class="header p-2 mb-3">
        {{title}}
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row"><!--Start of row-->

        <div class="col-sm-2"><!--Start of first col-->
            <form method='POST' action=''>
                {% csrf_token %}
                <h4>{{ title }}</h4>
                {{ form.media }}
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
              <input class="btn btn-primary mybutton " type="submit" value='Search'/>
            </form><br><br>
        </div><!--End of first col-->


        <div class="col-sm-8">
            <div class="display-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>COUNT</th>
                            <th>CATEGORY</th>
                            <th>ITEM NAME</th>
                            <th>QTY IN STORE</th>
                            <th>REORDER LEVEL</th>
                            <th>Timestamp</th>
                            <th>Last Updated</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
        
                {% for instance in items %}
            
                    <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.category}}</td>
                        <td><a href="{% url 'update_item' instance.id %}">{{instance.item_name}}</a></td>
                        <td>
                            {% if instance.quantity <= instance.reorder_level %}
                                <a href="{% url 'stock_detail' instance.id %}" style="color: red; background-color: white; ">{{instance.quantity}}</a>
                            {% else %}
                                <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'reorder_level' instance.id %}">{{ instance.reorder_level }}</a></td>
                        <td>{{ instance.timestamp }}</td>
                        <td>{{ instance.last_updated }}</td>
                        <td data-toggle="tooltip" id="tooltip" title="Delete"><a href="{% url 'delete_items' instance.id %}"><i class="fas fa-trash red-bin"></i></a></td>
                    </tr>      
                {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-sm-2">
            <a href="/add_items"><div class="btn btn-primary mybutton"><i class="fas fa-plus"></i> Add Items</div></a><br><br>
            <a href="/list_history"><div class="btn btn-primary mybutton"><i class="fas fa-list"></i> History</div></a><br><br>
        </div>
    </div>
{% endblock context %}
