{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}
    <div class="header pt-0">
        {{title}}
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method='POST' action='' class="pr-4">
        {% csrf_token %}
        <div class="row">  
            {% for field in form %}
            <div class="col-sm-6 form-group">
             {% bootstrap_field field %}
         
            </div>
            {% endfor %}

            </div>
        <input type="submit" value='Search'/>
    </form>
   <br>

    <div class="display-table">
        <table class="table">
            <thead>
            <tr>
                <th>COUNT</th>
                <th>ID</th>
                <th>CATEGORY</th>
                <th>ITEM NAME</th>
                <th>QTY IN STORE</th>
                <th>REORDER LEVEL</th>
                <th>Timestamp</th>
                <th>Last Updated</th>
                <th>DELETE</th>
                <th>Date</th>
            </tr>
            </thead>
 
        {% for instance in items %}
       
            <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td>{{ instance.id }}</td>
                <td>{{instance.category}}</td>
                <td><a href="{% url 'update_item' instance.id %}">{{instance.item_name}}</a></td>
                <td>
                    {% if instance.quantity <= instance.reorder_level %}
                    <div style="background-color: orange;">
                        <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                    </div>
                    {% else %}
                        <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
                    {% endif %}
                </td>
                <td><a href="{% url 'reorder_level' instance.id %}">{{ instance.reorder_level }}</a></td>
                <td>{{ instance.timestamp }}</td>
                <td>{{ instance.last_updated }}</td>
                <td><a href="{% url 'delete_items' instance.id %}">Delete</a></td>
                <td>{{ instance.date }}</td>
            </tr>      
        {% endfor %}
        </table>
    </div>

{% endblock content %}