{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}
    <div class="header pt-0">
        {{title}}
    </div>

    <a href="{% url 'issue_items' queryset.id %}"><div class='btn btn-danger'>ISSUE THIS ITEM</div></a>
    <a href="{% url 'receive_items' queryset.id %}"><div class='btn btn-primary'>RECEIVE THIS ITEM</div></a>
    <br><br>

    <div class="display_table">
        <table class='table'>
            <tr>
                <th>ITEM NAME</th>
                <th>QUANTITY IN STORE</th>
                <th>LAST UPDATED</th>
                <th>REORDER LEVEL</th>
            </tr>
            
            <tr>
                <td>{{queryset.item_name}}</td>
                <td>{{queryset.quantity}}</td>
                <td>{{queryset.last_updated}}</td>
                <td>{{queryset.reorder_level}}</td>
            </tr>
        </table>
    </div>

{% endblock content %}